<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MARVEL_PRIVATE_KEY</key>
	<string>ab17cbcd9a96c839b91400280fe2911b22f00769</string>
	<key>MARVEL_PUBLIC_KEY</key>
	<string>f72273260db3ac0d725ed41d1667c4a1</string>
</dict>
</plist>
